@font-face {
  font-family: FlodeskSans;
  src: url(https://assets.flodesk.com/0c5d787c98fc63656ba5.woff) format("woff"),
    url(https://assets.flodesk.com/ab447175bafa0d0a8442.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: FlodeskSans;
  src: url(https://assets.flodesk.com/f2cdf97ed2dba817824f.woff) format("woff"),
    url(https://assets.flodesk.com/e51de778f90e22bbc138.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
